<div class="position-absolute top-50 start-50 translate-middle p-5 card" style="background: #f5f2ea;">
  <h1 class="text-center">Inicio de Sesion</h1>
    <form class="example-form">
      <mat-form-field class="w-100 p-2">
        <mat-label>Correo</mat-label>
        <input type="text" matInput placeholder="Ingrese Usuario" name="email" [(ngModel)]="credentials.email">
      </mat-form-field>
      <mat-form-field class="w-100 p-2">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="contrasena" [(ngModel)]="credentials.password" >
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="d-flex justify-content-evenly mt-4">
        <button type="button" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
        <!-- <button type="button" class="btn btn-primary" (click)="registrar()">Registate</button> -->

      </div>
    </form>
  </div>
